{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <div class="container py-5 row">
      <aside class="col-12 col-md-3">
        <img style="margin-bottom: 40px" src="/static/img/me.jpg" width=100% alt="">
      </aside>
      <article style="padding-left: 70px" class="col-12 col-md-9">
        <h1>Привет, я автор этого проекта</h1><br>
        <p>Меня зовут Лиза и я учусь в Яндекс Практикуме на курсе Python-разработчик.</p>
        <p>С радостью представляю Вам свой проект ☺</p>
      </article>
    </div>
{% endblock %}