{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="container py-5 row">
    <aside class="col-12 col-md-3">
      <h4>Вот что я умею:</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          GIT
        </li>
        <li class="list-group-item">
          Bootstrap
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9" style="padding-left: 40px">
      <h1>Для создания проекта использовалось:</h1><br>
      <p>
        <img style="margin-right: 50px" src="/static/img/pycharm.png" width=25% alt="">
        Этот сайт разрабатывался с помощью IDE PyCharm
      </p>
      <p>
        <img style="margin-right: 50px"
             src="/static/img/python-django.png"
             width=25% alt="">
        на языке Python с применением фреймворков Django
      </p>
      <p>
        <img style="margin-right: 50px"
             src="/static/img/bs.png"
             width=25% alt="">
        и Bootstrap.
      </p>
    </article>
  </div>
{% endblock %}