{% extends 'base.html' %}
{% block title %}Подписки{% endblock %}
{% block content %}
  <h1>Посты пользователей, на которых вы подписаны</h1>
  <article>
    {% include 'includes/switcher.html' with follow=True %}
    {% for post in page_obj %}
      {% include 'includes/post_info.html' %}
        <p>{{ post.text }}</p>
        <a class="btn btn-outline-primary" href="{% url 'posts:post_detail' post.id %}">
          подробная информация
        </a>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  {% include 'includes/paginator.html' %}
  </article>
{% endblock %}