{% extends 'base.html' %}
{% load cache %}
{% block title %}Подписки{% endblock %}
{% block content %}
{% cache 20 index_page page_obj %}
  <h1>Посты пользователей, на которых вы подписаны</h1>
  <article>
    {% include 'includes/switcher.html' %}
    {% for post in page_obj %}
      {% include 'includes/post_info.html' %}
        <p>{{ post.text }}</p>
        <a href="{% url 'posts:post_detail' post.id %}">
          подробнее
        </a><br>
        {% include 'includes/group_info.html' %}
    {% endfor %}
  {% endcache %}
  {% include 'includes/paginator.html' %}
  </article>
{% endblock %}